Trunk/TestClient/PicoDelta/PicoDeltaSilverlightClient/Service References/PicoDeltaService/PicoDelta3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PicoDeltaSilverlightClient.Web/PicoDelta.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/PicoDeltaSilverlightClient.Web/PicoDelta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PicoDeltaSl" />
  <xs:element name="GetHashesForFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashesForFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHashesForFileResult" nillable="true" type="q1:ArrayOfKeyValueOflongFileHashN9OUnrip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadCurrentConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadCurrentConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PicoDeltaSl" minOccurs="0" name="DownloadCurrentConfigResult" nillable="true" type="q2:Config" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadManifest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadManifestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>