Trunk/TestClient/PicoDelta/PicoDeltaSilverlightClient/Service References/PicoDeltaService/PicoDelta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PicoDeltaSilverlightClient.Web/PicoDelta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PicoDeltaSl" />
  <xs:complexType name="ArrayOfKeyValueOflongFileHashN9OUnrip">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongFileHashN9OUnrip">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PicoDeltaSl" name="Value" nillable="true" type="q1:FileHash" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongFileHashN9OUnrip" nillable="true" type="tns:ArrayOfKeyValueOflongFileHashN9OUnrip" />
</xs:schema>